<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Operations Manager App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="assets/rxe.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="RxEApp" layout="column" ng-controller="RxEController as ctrl" ng-cloak>

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ctrl.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>RxEBATE Operations Manager</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav  ng-click="ctrl.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>RxEBATE Utilities</span>
              </h2>
            </md-toolbar>
            <md-list-item ng-repeat="ut in ctrl.utilities">
                <md-button ng-click="ctrl.toggleUtility(ut)" ng-class="{'selected' : it === ctrl.selected }">
                  <md-icon  ng-bind="ut.icon"></md-icon>{{ut.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex layout-padding id="content">
          <rx-utility ng-if='ctrl.selectedUtility != null' config="ctrl.selectedUtility"></rx-utility>
          <!-- <clients-view ng-if="ctrl.selected.name == 'Manage Clients'"></clients-view>
          <claims-view  ng-if="ctrl.selected.name == 'Process Claims'"></claims-view>
          <employees-view  ng-if="ctrl.selected.name == 'Manage Employees'"></employees-view>
          <processors-view  ng-if="ctrl.selected.name == 'Manage Processors'"></processors-view> -->
          <!-- <md-button class="share" md-no-ink ng-click="ctrl.makeContact(ctrl.selected)" aria-label="Share with {{ ctrl.selected.name }}">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button> -->
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="./src/lib/highcharts.min.js"></script>
    <script src="./src/main/main.js"></script>
    <script src="./src/main/RxEController.js"></script>
    <script src="./src/main/RxEService.js"></script>
    <script src="./src/main/views/utility.js"></script>
    <script src="./src/lib/united_states.js"></script>
    <!-- <script src="./src/main/views/employees.js"></script>
    <script src="./src/main/views/processors.js"></script>
    <script src="./src/main/views/claims.js"></script> -->
    <script src="./src/main/views/hc-pie.js"></script>

    <script type="text/javascript">

          angular
              .module('RxEApp', ['ngMaterial', 'main','ngMdIcons'])
              .config(function($mdThemingProvider, $mdIconProvider){
                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('blue')
                          .accentPalette('red');

              });

    </script>

  </body>
</html>
