<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Operations Manager App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="RxEApp" layout="column" ng-controller="RxEController as ctrl" ng-cloak>
    <md-progress-linear ng-if="$root.loading" md-mode="indeterminate"></md-progress-linear>
    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ctrl.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>RxEBATE Operations Manager</h1>
    </md-toolbar>
    <div flex layout="row">

        <md-sidenav  ng-click="ctrl.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-toolbar class="md-theme-light">
              <h2 class="md-toolbar-tools">
                <span>RxEBATE Utilities</span>
              </h2>
            </md-toolbar>
            <md-list-item ng-repeat="ut in ctrl.utilities">
                <md-button ng-click="ctrl.toggleUtility(ut)" ng-class="{'selected' : it === ctrl.selected }">
                  <md-icon  ng-bind="ut.icon"></md-icon>{{ut.label}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex layout-padding id="content">
          <rx-utility ng-if="(ctrl.selectedUtility != null) && (ctrl.selectedUtility.type != 'claims')" utility="ctrl.selectedUtility"></rx-utility>
          <rx-claims ng-if="(ctrl.selectedUtility != null) && (ctrl.selectedUtility.type == 'claims')" utility="ctrl.selectedUtility"></rx-claims>
        </md-content>

    </div>
  </body>
</html>
