<!-- <md-button ng-click="devel()" class="md-raised" aria-label="Learn More">
  log scope
</md-button> -->
<md-content>
  <md-toolbar class='rx-select-client'>
    <div class="md-toolbar-tools">
      <h2>Manage Claims - {{method.label}}</h2>
    </div>
  </md-toolbar>
  <div layout="row">
    <div flex="60">
      <md-button  ng-class="('method-' + method.name)" ng-repeat="method in methods" ng-click="changeMethod(method)" aria-label="method.label" class="md-fab md-raised md-mini">
        <md-tooltip md-direction="bottom">{{method.label}}</md-tooltip>
        <md-icon ng-bind="(method.icon)"></md-icon>
      </md-button>
    </div>
    <div flex="40">
      <md-input-container>
        <md-select ng-model="activeClient" placeholder="Select Processor">
          <md-option ng-repeat="proc in processors" value="{{proc.client_id}}">{{proc.client_name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <md-content ng-show="(method!='')" class="md-padding">
    <div layout="row">
      <div flex></div>
      <div ng-show="(showClients)" flex="40" flex>
        <md-subheader class="md-no-sticky">Select Client(s)</md-subheader>
        <md-list-item  class='md-list-narrow' ng-repeat="client in clients" class=''>
          <p> {{ client.client_name }} </p>
          <md-checkbox class="md-secondary" ng-model="client.selected"></md-checkbox>
        </md-list-item>
      </div>
      <div flex></div>
      <div ng-show="(showPeriods)" flex="30">
        <md-subheader class="md-no-sticky">Select Period</md-subheader>
        <md-list-item class='md-list-narrow' ng-repeat="pd in periods">
          <p> {{ pd.year_quarter_month}}</p>
          <md-checkbox class="md-secondary" ng-model="pd.selected"></md-checkbox>
        </md-list-item>
      </div>
      <div flex></div>
    </div>
    <div layout="row">
      <div ng-show="(showDocuments)" flex='100'>
        <md-subheader class="md-no-sticky">Select Document(s)</md-subheader>
        <md-list-item class='md-list-narrow' ng-repeat="doc in PHI_documents">
          <md-icon ng-class="('method-' + doc.change_type)" class="inline-method" ng-bind="(doc.icon)"></md-icon>
          <b>{{doc.client_name}} - {{doc.period}}</b><small style="font-style:italic;font-size:65%"> - - ({{doc.file_name}})</small>
          <md-checkbox aria-label="doc.selected" class="md-secondary" ng-model="pd.selected"></md-checkbox>
        </md-list-item>
      </div>
    </div>
  </md-content>


</md-content>
