<md-content>
  <md-toolbar class='rx-select-client'>
      <div class="md-toolbar-tools">
        <md-input-container flex="40">
          <md-select ng-change="loadClient(client.client_id)" ng-model="client.client_id" placeholder="Select Client">
            <md-option ng-repeat="client in clients" value="{{client.client_id}}">{{client.client_id}}</md-option>
          </md-select>
        </md-input-container>
        <md-button ng-click="showClientAdd($event)" class="md-raised" aria-label="Learn More">
          Add
        </md-button>
        <span flex></span>
        <md-switch class="md-headline" name="special" ng-model="project.special">{{(project.special)?'Active':'Inactive'}}</md-switch>
      </div>
    </md-toolbar>
  <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="Contact">
          <md-content class="md-padding">
            <form name="manageForm">
              <section>
                <h1 class="md-headline">Entity</h1>
                <div layout="row">
                  <md-input-container flex="60">
                    <label>Entity Name</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="40">
                    <label>Entity Type</label>
                    <md-select name="en" ng-model="project.type" required>
                      <md-option ng-repeat='e in eTypes' value="{{e.type}}">{{e.type}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <md-input-container class="md-block">
                  <label>Physical Address</label>
                  <input required name="clientEmail" ng-model="project.clientEmail"
                         minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="manageForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>City</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="20">
                    <label>State</label>
                    <md-select name="en" ng-model="project.type" required>
                      <md-option ng-repeat='e in eTypes' value="{{e.type}}">{{e.type}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex="30">
                    <label>Zip</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                </div>
              </section>

              <section>
                <h1 class="md-headline">Point of Contact</h1>
                <div layout="row">
                  <md-input-container flex="60">
                    <label>Contact Name</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="40">
                    <label>Position</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                </div>
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Contact Email</label>
                    <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="manageForm.clientEmail.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                      </div>
                    </div>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Contact Phone</label>
                    <input required name="clientEmail" ng-model="project.clientEmail"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="manageForm.clientEmail.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                      </div>
                    </div>
                  </md-input-container>
                </div>
              </section>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="Legal">
          <md-content class="md-padding">
            <section>
              <h1 class="md-headline">Aggreements</h1>
              <div layout="row">
                <md-input-container flex="30">
                  <label>NDA</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex="20">
                  <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex></span>
                <div>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                  </md-button>
                </div>
              </div>
              <div layout="row">
                <md-input-container flex="30">
                  <label>BAA</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex="20">
                  <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex></span>
                <div>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                  </md-button>
                </div>
              </div>
              <div layout="row">
                <md-input-container flex="30">
                  <label>Service Aggreement</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex="20">
                  <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex></span>
                <div>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                  </md-button>
                </div>
              </div>
            </section>



          </md-content>
        </md-tab>
        <md-tab label="Financial">
          <md-content class="md-padding">
            <section>
              <h1 class="md-headline">Tax</h1>
              <md-input-container flex="30">
                <label>Federal EIN</label>
                <input required name="entity" ng-model="client.entity">
                <div ng-messages="manageForm.entity.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <div layout="row">
                <md-input-container flex="30">
                  <label>W9</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex="20">
                  <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex></span>
                <div>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                  </md-button>
                </div>
              </div>
            </section>
            <section>
              <h1 class="md-headline">Bank Information</h1>
              <div layout="row">
                <md-input-container flex="60">
                  <label>Bank Name</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Physical Address</label>
                <input required name="clientEmail" ng-model="project.clientEmail"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="manageForm.clientEmail.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>

              <div layout="row">
                <md-input-container flex="50">
                  <label>City</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex="20">
                  <label>State</label>
                  <md-select name="en" ng-model="project.type" required>
                    <md-option ng-repeat='e in eTypes' value="{{e.type}}">{{e.type}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="30">
                  <label>Zip</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
            </section>
            <section>
              <h1 class="md-headline">Account Information</h1>
              <div layout="row">
                <md-input-container flex="60">
                  <label>Account Holder Name</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Account Number</label>
                  <input required ng-model="project.clientEmail"
                         minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="manageForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex="50">
                  <label>Routing Number (Direct Deposit)</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container flex="50">
                  <label>Routing Number (Wire Transfer)</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
            </section>
          </md-content>
        </md-tab>
        <md-tab label="History">
          <md-content class="md-padding">
            <section>
              <h1 class="md-headline">Rebate Performance</h1>
              <hc-pie items="client.rebate_history"></hc-pie>
            </section>
            <section>
              <h1 class="md-headline">Client Activity</h1>
              <md-list flex="">
                <md-list-item class="md-3-line" ng-repeat="item in client.activity" ng-click="null">
                 <div class="md-list-item-text" layout="column">
                   <h4><i>{{ item.change_user }} on {{item.change_datetime}}<i></h4>
                   <b>{{ item.change_description }}</b>
                 </div>
               </md-list-item>
             </md-list>
            </section>
          </md-content>
        </md-tab>
        <md-tab label="Scripting">
          <md-content class="md-padding">
            <section>
              <h1 class="md-headline">Stored Procedure</h1>
            </section>
          </md-content>
        </md-tab>
      </md-tabs>
  </div>
</md-content>
