<md-content>
  <div layout="row">
    <md-input-container flex="40">
      <md-select ng-change="loadClient(client.client_id)" ng-model="client.client_id" placeholder="Select Client">
        <md-option ng-repeat="client in clients" value="{{client.client_id}}">{{client.client_id}}</md-option>
      </md-select>
      <md-button class="md-fab md-mini" ng-click="showClientAdd($event)">
        <b>+</b>
      </md-button>
      <md-switch class="md-primary" name="special" ng-model="project.special" required>
        {{(project.special)?'Active':'Inactive'}}
      </md-switch>
      <div ng-messages="manageForm.special.$error" multiple>
        <div ng-message="required">
          You must enable all special options before you can proceed.
        </div>
      </div>
    </md-input-container>
  </div>
  <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab label="Contact">
          <md-content class="md-padding">
            <form name="manageForm">
              <section>
                <md-subheader class="md-primary">Entity</md-subheader>
                <div layout="row">
                  <md-input-container flex="60">
                    <label>Entity Name</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="40">
                    <label>Entity Type</label>
                    <md-select name="en" ng-model="project.type" required>
                      <md-option ng-repeat='e in eTypes' value="{{e.type}}">{{e.type}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <md-input-container class="md-block">
                  <label>Physical Address</label>
                  <input required name="clientEmail" ng-model="project.clientEmail"
                         minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="manageForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>City</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="20">
                    <label>State</label>
                    <md-select name="en" ng-model="project.type" required>
                      <md-option ng-repeat='e in eTypes' value="{{e.type}}">{{e.type}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container flex="30">
                    <label>Zip</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                </div>
              </section>

              <section>
                <md-subheader class="md-primary">Point of Contact</md-subheader>
                <div layout="row">
                  <md-input-container flex="60">
                    <label>Contact Name</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="40">
                    <label>Position</label>
                    <input required name="entity" ng-model="client.entity">
                    <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>

                </div>
                <md-input-container>
                  <label>Contact Email</label>
                  <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                         minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="manageForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
              </section>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="Legal">
          <md-content class="md-padding">
            <section>
              <md-subheader class="md-primary">Aggreements</md-subheader>
              <div layout="row" layout-sm="column">
                <md-input-container flex="40">
                  <label>NDA</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                <md-button class="md-raised md-primary">Download</md-button>
              </div>
              <div layout="row" layout-sm="column">
                <md-input-container flex="40">
                  <label>BAA</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                <md-button class="md-raised md-primary">Download</md-button>
              </div>
              <div layout="row" layout-sm="column">
                <md-input-container flex="40">
                  <label>Service Aggreement</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                <md-button class="md-raised md-primary">Download</md-button>
              </div>
            </section>



          </md-content>
        </md-tab>
        <md-tab label="Banking">
          <md-content class="md-padding">
            <section>
              <md-subheader class="md-primary">Bank Information</md-subheader>
              <div layout="row">
                <md-input-container flex="60">
                  <label>Bank Name</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Physical Address</label>
                <input required name="clientEmail" ng-model="project.clientEmail"
                       minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="manageForm.clientEmail.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>

              <div layout="row">
                <md-input-container flex="50">
                  <label>City</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex="20">
                  <label>State</label>
                  <md-select name="en" ng-model="project.type" required>
                    <md-option ng-repeat='e in eTypes' value="{{e.type}}">{{e.type}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="30">
                  <label>Zip</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
            </section>
            <section>
              <md-subheader class="md-primary">Account Information</md-subheader>
              <div layout="row">
                <md-input-container flex="60">
                  <label>Account Holder Name</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Account Number</label>
                  <input required ng-model="project.clientEmail"
                         minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="manageForm.clientEmail.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                      Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex="50">
                  <label>Routing Number (Direct Deposit)</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container flex="50">
                  <label>Routing Number (Wire Transfer)</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
            </section>
          </md-content>
        </md-tab>
        <md-tab label="Scripting">
          <md-content class="md-padding">
            <section>
              <md-subheader class="md-primary">Stored Procedure</md-subheader>
            </section>
          </md-content>
        </md-tab>
      </md-tabs>
  </div>
</md-content>
