<md-content>
  <md-toolbar class='rx-select-client'>
      <div class="md-toolbar-tools">
        <md-input-container flex="40">
          <md-select ng-change="loadClient(client.client_id)" ng-model="client.client_id" placeholder="Select {{config.name.slice(0,-1)}}">
            <md-option ng-repeat="client in clients" value="{{client.client_id}}">{{client.client_id}}</md-option>
          </md-select>
        </md-input-container>
        <md-button ng-click="showClientAdd($event)" class="md-raised" aria-label="Learn More">
          Add
        </md-button>
        <span flex></span>
        <md-switch class="md-headline" name="active" ng-model="client.active">{{(client.active)?'Active':'Inactive'}}</md-switch>
      </div>
    </md-toolbar>
  <div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
      <md-tabs md-dynamic-height="" md-border-bottom="">
        <md-tab ng-if="(config.tabs.indexOf('Contact') >= 0)" label="Contact">
          <md-content class="md-padding">
            <form name="manageForm">
              <section ng-if="(config.name !='Employees')">
                <h1 class="md-headline">Entity</h1>
                <div layout="row">
                  <md-input-container flex="60">
                    <label>Entity Name</label>
                    <input required name="entity_name" ng-model="client.entity_name">
                    <div ng-messages="manageForm.entity_name.$error">
                      <div ng-message="required">Please Provide Entity Name</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="40">
                    <label>Entity Type</label>
                    <md-select name="en" ng-model="client.entity_type">
                      <md-option ng-repeat='e in entity_types' value="{{e.type}}">{{e.type}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <md-input-container class="md-block">
                  <label>Physical Address</label>
                  <input required name="entity_address" ng-model="client.entity_address">
                  <div ng-messages="manageForm.entity_address.$error">
                    <div ng-message="required">Please Provide Entity Address</div>
                  </div>
                </md-input-container>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>City</label>
                    <input required name="entity_city" ng-model="client.entity_city">
                    <div ng-messages="manageForm.entity_city.$error">
                      <div ng-message="required">Please Provide Entity City</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="20">
                    <label>State</label>
                    <md-select name="entity_state" ng-model="client.entity_state" required>
                      <md-option ng-repeat='st in unitedStates' value="{{st.abbreviation}}">{{st.abbreviation}}</md-option>
                    </md-select>
                    <div ng-messages="manageForm.entity_state.$error">
                      <div ng-message="required">Please Provide Entity State</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="30">
                    <label>Zip</label>
                    <input required name="entity_zip" ng-model="client.entity_zip">
                    <div ng-messages="manageForm.entity_zip.$error">
                      <div ng-message="required">Please Provide Entity Zip</div>
                    </div>
                  </md-input-container>
                </div>
              </section>

              <section>
                <h1 class="md-headline">Point of Contact</h1>
                <div layout="row">
                  <md-input-container flex="60">
                    <label>Contact Name</label>
                    <input required name="contact_name" ng-model="client.contact_name">
                    <div ng-messages="manageForm.contact_name.$error">
                      <div ng-message="required">Please Provide Client Name</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="40">
                    <label>Position</label>
                    <input name="contact_position" ng-model="client.contact_position">
                    <!-- <div ng-messages="manageForm.entity.$error">
                      <div ng-message="required">This is required.</div>
                    </div> -->
                  </md-input-container>

                </div>
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Contact Email</label>
                    <input required type="email" name="contact_email" ng-model="client.contact_email"
                           minlength="3" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <div ng-messages="manageForm.contact_email.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Please Provide a Valid Email Address
                      </div>
                    </div>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Contact Phone</label>
                    <input required name="contact_phone" ng-model="client.contact_phone"/>
                    <div ng-messages="manageForm.contact_phone.$error" role="alert">
                      <div ng-message='required'>
                        Plese Provide a Contact Phone Number
                      </div>
                    </div>
                  </md-input-container>
                </div>
                <md-input-container flex="40">
                  <label>FTP Password</label>
                  <input name="FTP_password" ng-model="client.FTP_password">
                  <!-- <div ng-messages="manageForm.FTP_password.$error">
                    <div ng-message="required">This is required.</div>
                  </div> -->
                </md-input-container>
              </section>
            </form>
          </md-content>
        </md-tab>
        <md-tab ng-if="(config.tabs.indexOf('History') >= 0)" label="History">
          <md-content class="md-padding">
            <section ng-if="config.name == 'Clients'">
              <h1 class="md-headline">Rebate Performance</h1>
              <div ng-if="client.rebate_history">
                <hc-pie items="client.rebate_history"></hc-pie>
              </div>
            </section>
            <section>
              <h1 class="md-headline">Activity
                <md-button ng-click="showActivityAdd($event)" class="md-raised" aria-label="Learn More">
                  Add Item
                </md-button>
              </h1>
              <md-list flex="">
                <md-list-item class="md-3-line" ng-repeat="item in client.activity" ng-click="null">
                 <div class="md-list-item-text" layout="column">
                   <h4><i>{{ item.change_user }} on {{item.change_datetime}}<i></h4>
                   <b>{{ item.change_description }}</b>
                 </div>
               </md-list-item>
             </md-list>
            </section>
          </md-content>
        </md-tab>
        <md-tab ng-if="(config.tabs.indexOf('Financial') >= 0)" label="Financial">
          <md-content class="md-padding">
            <section>
              <h1 class="md-headline">Tax</h1>
              <md-input-container ng-if="(config.name != 'Employees')" flex="30">
                <label>Federal EIN</label>
                <input required name="entity_EIN" ng-model="client.entity_EIN">
                <div ng-messages="manageForm.entity_EIN.$error">
                  <div ng-message="required">Please Provide EIN</div>
                </div>
              </md-input-container>
              <md-input-container  ng-if="(config.name == 'Employees')" flex="30">
                <label>SSN</label>
                <input required name="contact_SSN" ng-model="client.contact_SSN">
                <div ng-messages="manageForm.contact_SSN.$error">
                  <div ng-message="required">Please Provide the SSN</div>
                </div>
              </md-input-container>
            </section>
            <section>
              <h1 class="md-headline">Bank Information</h1>
              <div layout="row">
                <md-input-container flex="60">
                  <label>Bank Name</label>
                  <input required name="bank_name" ng-model="client.bank_name">
                  <div ng-messages="manageForm.bank_name.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
              <md-input-container class="md-block">
                <label>Physical Address</label>
                <input required name="bank_address" ng-model="client.bank_address" />
                <div ng-messages="manageForm.bank_address.$error" role="alert">
                  <div ng-message='required'>
                    Please provide the bank address
                  </div>
                </div>
              </md-input-container>

              <div layout="row">
                <md-input-container flex="50">
                  <label>City</label>
                  <input required name="bank_city" ng-model="client.bank_city">
                  <div ng-messages="manageForm.bank_city.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container flex="20">
                  <label>State</label>
                  <md-select name="bank_state" ng-model="client.bank_state" required>
                    <md-option ng-repeat='st in unitedStates' value="{{st.abbreviation}}">{{st.abbreviation}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="30">
                  <label>Zip</label>
                  <input required name="bank_zip" ng-model="client.bank_zip">
                  <div ng-messages="manageForm.bank_zip.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
            </section>
            <section>
              <h1 class="md-headline">Account Information</h1>
              <div layout="row">
                <md-input-container flex="60">
                  <label>Account Holder Name</label>
                  <input required name="bank_account_holder" ng-model="client.bank_account_holder">
                  <div ng-messages="manageForm.bank_account_holder.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container>
                  <label>Account Number</label>
                  <input required name='bank_account_number' ng-model="client.bank_account_number"/>
                  <div ng-messages="manageForm.bank_account_number.$error" role="alert">
                    <div ng-message='required'>
                      Please Provide Account Number
                    </div>
                  </div>
                </md-input-container>
              </div>
              <div layout="row">
                <md-input-container flex="50">
                  <label>Routing Number (Direct Deposit)</label>
                  <input required name="bank_routing_number_direct_deposit" ng-model="client.bank_routing_number_direct_deposit">
                  <div ng-messages="manageForm.bank_routing_number_direct_deposit.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <md-input-container flex="50">
                  <label>Routing Number (Wire Transfer)</label>
                  <input required name="bank_routing_number_wire" ng-model="client.bank_routing_number_wire">
                  <div ng-messages="manageForm.bank_routing_number_wire.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>
            </section>
          </md-content>
        </md-tab>
        <md-tab ng-if="(config.tabs.indexOf('Documents') >= 0)" label="Documents">
          <md-content class="md-padding">
            <section>
              <!-- <h1 class="md-headline">Aggreements</h1> -->
                <div layout="row" layout-align="center center">
                  <div
                    ngf-drop
                    ngf-select
                    ng-model="client.files"
                    class="drop-box"
                    ngf-drag-over-class="'dragover'"
                    ngf-multiple="true"
                    ngf-allow-dir="true"
                    accept="image/*,application/pdf"
                    ngf-pattern="'image/*,application/pdf'">Upload File</br><ng-md-icon class="md-secondary" icon="cloud_upload"></ng-md-icon>
                  </div>
                </div>
                <ul>
                    <li ng-repeat="f in client.files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                </ul>
              <md-list>
                <md-list-item ng-repeat="doc in client.documents"  class="noright">
                  <!-- <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" /> -->
                  <p>{{ doc.title }}</p>
                  <div>
                    <md-checkbox class="md-secondary"></md-checkbox>
                  </div>
                  <div>
                    <ng-md-icon class="md-secondary" icon="cloud_download"></ng-md-icon>
                  </div>
                  <div>
                    <ng-md-icon class="md-secondary" icon="cloud_upload"></ng-md-icon>
                  </div>
                </md-list-item>
              </md-list>
              <!-- <div layout="row">
                <md-input-container flex="30">
                  <label>BAA</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex="20">
                  <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex></span>
                <div>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                  </md-button>
                </div>
              </div> -->
              <!-- <div layout="row">
                <md-input-container flex="30">
                  <label>Service Aggreement</label>
                  <input required name="entity" ng-model="client.entity">
                  <div ng-messages="manageForm.entity.$error">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
                <div flex="20">
                  <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <span flex></span>
                <div>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <ng-md-icon icon="cloud_download"></ng-md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon icon="cloud_upload"></ng-md-icon>
                  </md-button>
                </div>
              </div> -->
            </section>



          </md-content>
        </md-tab>

        <md-tab ng-if="(config.tabs.indexOf('Scripting') >= 0)" label="Scripting">
          <md-content class="md-padding">
            <section>
              <h1 class="md-headline">Formatting Instructions</h1>
              <trix-editor angular-trix ng-model="client.format_instructions"></trix-editor>
            </section>
          </md-content>
        </md-tab>
      </md-tabs>
  </div>
</md-content>
