md-toolbar md-select,md-toolbar md-select-value{
  background-color:none;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    cursor:pointer;
}
.deleted-file{
  text-decoration: line-through;
  color: red;
}

md-list-item.md-list-narrow, md-list-item.md-list-narrow .md-list-item-inner {
    min-height: 20px;
    height: 25px;
}
md-icon.inline-method{
  margin:0px;
  border-radius:15px;
}
.method-RECEIVE,button.method-RECEIVE{
  background:#FF600B;
  color:black;
}
.method-REFORMAT{
  background:#617EE7;
  color:white;
}
.method-INSERT{
  background:#FFB50B;
  color:black;
}
.method-AGGREGATE{
  background:#FFB50B;
  color:black;
}
.method-CREATE{
  background:gray;
  color:white;
}
.method-EXPORT{
  background:#FFB50B;
  color:black;
}
.method-DESTROY{
  background:black;
  color:white;
}
